<div class="page-wrap">

  <header class="main-header">
    <label for="main-nav-check" class="toggle-menu">
      ☰
    </label>

    <h1><%= link_to 'List of Plays', plays_path, :class => "play-show-game-name" %></h1>
  </header>


  <div class="content">

    <div style="margin-bottom:15px;" class="col-md-8 col-md-offset-2">
      <%= search_form_for @search do |f| %>

          <div class="input-group">

            <span class="input-group-btn">
                <span style="margin-top: -1px;" id="advanced-search-btn" class="btn btn-default glyphicon glyphicon-chevron-down"></span>
            </span>

                <%= f.text_field :game_name_cont, id: "play-search-bar", class: "form-control", placeholder: "Search Game..." %>
            <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>

            <span class="input-group-btn">
                <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
            </span>
          </div>

          <div style="display:none;" id="advanced-search" class="new-play-form">

            <div style="text-align: center"><h3 style="margin-top:0;">Advanced Search</h3></div>

            <br>

            <div class="col-md-12">
              <div class="col-md-6">
                <label>Date range start:</label>
                <%= f.text_field :date_gteq, id: "start-date", class: "datepicker form-control", placeholder: "Start Date", :autocomplete => :off %>
              </div>

              <div class="col-md-6">
                <label>Date range end:</label>
                <%= f.text_field :date_lteq, id: "end-date", class: "datepicker form-control", placeholder: "End Date", :autocomplete => :off %>
              </div>
            </div>

            <br><br><br><br>

            <div class="col-md-12">
              <div class="col-md-6">
                <label>Location:</label>
                <%= f.text_field :location_cont, id: "location-search-bar", class: "form-control search-location", placeholder: "Search Location...",  :autocomplete => :off %>
              </div>

              <div class="col-md-6">
                <label>With Friend:</label>
                <%= text_field_tag :friend_name, nil, id: "friend-search-bar", class: "form-control play-name", placeholder: "Search for Friend...",  :autocomplete => :off %>
              </div>
            </div>

            <br><br><br><br>

            <div class="col-md-12">
              <div class="col-md-6 col-md-offset-3">
                <%= submit_tag "Search", :name => nil, class: "btn btn-primary btn-block", id: "#index-search-submit" %>
              </div>
            </div>

          </div>
    </div>

    <div class="col-md-10 col-md-offset-1">

      <table id="play-table" class="table table-hover">
        <thead>
        <tr>
          <th><%= sort_link @search, :date, "Date", default_order: :asc %></th>
          <th><%= sort_link @search, :game_name, "Game", default_order: :asc %></th>
          <th><%= sort_link @search, :location, "Location", default_order: :asc %></th>
          <th><%= sort_link @search, :players_count, "Players", default_order: :desc %></th>
          <th><%= sort_link @search, :comments_count, "Comments", default_order: :desc %></th>
        </tr>
        </thead>

        <tbody>
        <% @plays.each do |play| %>
            <tr data-link="<%= play_path(play.id) %>">
              <td><%= play.date.strftime("%-m/%d/%y") %></td>
              <td><%= play.game.name %></td>
              <td><%= play.location %></td>
              <td><%= play.players_count %></td>
              <td><%= play.comments_count %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <div id="item-per-page-dropdown">
        Plays per page: <%= select_tag :per_page, options_for_select([10,25,50,100], @per_page), class: "form-control input-xs", :onchange => "$('form#play_search').submit()" %>
      </div>

    </div>

    <div class="col-md-12" style="text-align: center">
      <%= will_paginate @plays, renderer: BootstrapPagination::Rails %><br>
      <span style="color:darkgray; font-size:12px;"><%= page_entries_info(@plays, :model => 'play') %></span>
<br><br>
    </div>

      <% end %>
  </div>
  <!-- content -->
</div> <!-- page-wrapper -->

