<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">


  <% if user_signed_in? %>

        <div class="navbar-header">
          <%= link_to image_tag("scoreboard_logo7.svg", :class => "logo-signed-in"), root_path, :class => 'navbar-brand', "data-no-turbolink" => true %>
        </div>

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">

      <span class="navbar-right">
        <span class="navbar-text">Signed in as <%= current_user.name %></span>
        <%= link_to 'New play', new_play_path, :class => 'btn btn-primary' %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-default navbar-btn' %>
      </span>
    </div><!--/.nav-collapse -->

  <% else %>

        <div class="navbar-header">
          <%= link_to image_tag("scoreboard_logo7.svg", :class => "logo"), root_path, :class => 'navbar-brand', "data-no-turbolink" => true %>
        </div>

      <%= form_for(:user, :url => session_path(:user), :html => {:class => "navbar-form navbar-right"}) do |f| %>
          <%= f.text_field :email, :placeholder => "Email", :class => 'form-control'%>
          <%= f.password_field :password, :placeholder => "Password", :class => 'form-control'%>
          <%= f.submit 'Sign in', :class => 'btn btn-primary navbar-btn' %>
          <br>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, :id => 'remeber-me' %>
          <%= link_to "Forgot your password?", new_password_path(:user), :id => 'forgot-password' %>
      <% end %>
  <% end %>
  </div>
</nav>