<script src="http://pixelcog.com/parallax.js/js/parallax.min.js"></script>
<link href="http://pixelcog.com/parallax.js/css/style.css" rel="stylesheet">



<% unless user_signed_in? %>
<%= form_for(:user, :url => session_path(:user)) do |f| %>
  <%= f.text_field :email, :placeholder => "Email"%>
  <%= f.password_field :password, :placeholder => "Password"%>
  <%= f.submit 'Sign in' %>
  <br>
   <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
  <%= link_to "Forgot your password?", new_password_path(:user) %>
<% end %>
<% end %>

<section>
      <div class="container">
        <div id="ios-notice" class="alert alert-info hidden"><p><strong>Notice:</strong> Hello mobile user. Unfortunately, this parallax effect is not reliably achieved on mobile devices, so all you will see on this demo page are static backgrounds.  Please visit this page on a desktop browser to see its full effect.</p></div>
        <h1>Simple Parallax Scrolling <small>parallax.js</small></h1>
        <p>Parallax.js is a dirt simple parallax scrolling effect inspired by <a href="http://spotify.com">Spotify.com</a> and implemented as a jQuery plugin.</p>
        <a href="https://github.com/pixelcog/parallax.js/archive/v1.3.zip" class="btn btn-default download-link">Download Parallax.js v1.3</a>
        <a href="https://github.com/pixelcog/parallax.js/" class="btn btn-default">View on GitHub</a>
      </div>
    </section>

    <div> Here </div>

    <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="http://i.imgur.com/yAP3stb.jpg" data-natural-width="1400" data-natural-height="900"></div>

    <section>
      <div class="container">
        <h2 id="installation">Installation</h2>

        

       

        <p>Hi. sdjf lksjdf lksdjfl s;adkjflsak; dflkjsda ;flk sdjf;lks;l lksdf lkaslk djkfkdshfjk jhsdgf jhsagdjdf g kj</p>


      </div>
    </section>

    <div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="http://i.imgur.com/w4Cyw.jpg" data-natural-width="1400" data-natural-height="1400"></div>